.small-img {
  width: 200px; /* Largura fixa para as imagens */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: 0 auto 20px; /* Centraliza a imagem no card e adiciona margem inferior */
  border-radius: 5px; /* Bordas arredondadas */
}
ion-content {
  --background: #d4edda; /* Verde claro */
}

ion-card {
  --background: #d4edda; /* Verde claro para os cards */
  --ion-text-color: #000000; /* Texto preto */
}

ion-card-header {
  --background: transparent; /* Deixa o cabeçalho dos cards transparente */
}

ion-title {
  --color: #000000; /* Título com cor preta */
}

ion-footer {
  --background: #d4edda; /* Cor de fundo verde claro */
  --ion-text-color: #000000; /* Texto preto */
  padding: 5px;
}
